.navbar {
    z-index: 10;
  width: 100%;
  display: flex;
  position:fixed;
  align-items: center;
  justify-content: space-between;
  padding: 16px 48px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 300;
 background-color: transparent;
;

}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: opacity 0.3s ease;
}

.nav-links a:hover {
  opacity: 0.7;
}

.register-btn {
  position: relative;
  padding: 8px 32px;
  border: 1px solid white;
  border-radius: 999px;
  text-transform: uppercase;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register-btn:hover {
  background: white;
  color: black;
}
