@import "tailwindcss";

@font-face {
  font-family: "Trajan Pro 3";
  src: url("/fonts/Trajan Pro 3 Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trajan Pro 3";
  src: url("/fonts/Trajan Pro 3 Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trajan Pro 3";
  src: url("/fonts/Trajan Pro 3 Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inknut Antiqua";
  src: url("/fonts/InknutAntiqua-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Perpetua";
  src: url("/fonts/Perpetua Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Perpetua";
  src: url("/fonts/Perpetua Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Perpetua Std";
  src: url("/fonts/Perpetua Std Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-trajan: "Trajan Pro 3", serif;
  --font-perpetua: "Perpetua", serif;
  --font-perpetua-std: "Perpetua Std", serif;
  --font-cinzel: "Cinzel", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-cinzel {
  font-family: var(--font-cinzel), serif;
}

.font-cinzel-decorative {
  font-family: var(--font-cinzel-decorative), serif;
}
